h1{
    color: rgb(255, 0, 204);
}
h3{
    color: darkgray;
}
p{
    color: black
}
div{
    background-color: rgb(211, 220, 89);
    color: black;
}
span{
    color: rgb(54, 191, 198);
}
button{
    color: #f1e604;
}
main{
    color: rgb(159, 165, 42);
}
body{
    background-color: #135D66
}